@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@600&family=Montserrat:wght@300;400;500;600;700&display=swap");
@font-face {
  font-family: "NunitoSans";
  font-display: swap;
  src: url(/fonts/NunitoSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "NunitoSans-Light";
  font-display: swap;
  src: url(/fonts/NunitoSans-Light.ttf) format("truetype");
}

// @font-face {
//   font-family: "NunitoSans-Bold";
//   font-display: swap;
//   src: url(../assets/fonts/NunitoSans-Bold.ttf) format("truetype");
// }

@font-face {
  font-family: "NunitoSans-SemiBold";
  font-display: swap;
  src: url(/fonts/NunitoSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "NunitoSans-ExtraBold";
  font-display: swap;
  src: url(/fonts/NunitoSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "NunitoSans-Black";
  src: url(/fonts/NunitoSans-Black.ttf) format("truetype");
}
